/*
	general
*/
/******************
html body {
	background-color:#F5F5F5;
	font-family:'PT Sans', Arial, Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	display: table;
}
******************/
.centralColumn {
	width:850px;
	margin:auto;
}
a {
	color: #377bbb;
}

#content_inner {
	padding: 0 15px 15px 15px;
}
.pageTitle {
	color:#404040;
	font-size:24px;
}
.nice_list li {
	margin-bottom: 1em;
}
html, body, .wrapper {
	height: 100%;
}
body > .wrapper {
	height: auto;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main {
	padding-bottom: 200px; /* must be same height as the footer */
}
.footer {
	position: relative;
	margin-top: -200px; /* negative value of footer height */
	height: 200px;
	clear:both;
}
/* CLEAR FIX*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both !important;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */


/*
	header
*/
/*.header {
	background-color:#173D85;
	text-align:center;
}*/
.banner img {
	vertical-align:middle;
}
.banner {
	background-color:white;
	border-bottom:12px solid #173D85;
	border-top:12px solid #173D85;
}
.header .top {
	height:18px;
	background-color:#377BBB;
	width:100%;
}
.crumbs {
	background-color:#BD5B2A;
	height:18px;
	font-size:15px;
	border-top: solid 4px #BD5B2A;
	border-bottom: solid 4px #BD5B2A;
}
.crumbs div {
	text-align:left;
	vertical-align:top;
}
.crumbs ul#nav-main {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#nav-main li {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-right: 2em;
	font-weight: bold;
}
ul#nav-main li a {
	text-decoration: none;
	color: white;
}

/*
	footer
*/
.footer {
	background-color:#404040;
	text-align:center;
}
.footer img {
	vertical-align:middle;
}
.footer #firstimg {
	position:relative;
	right:80px;
}
.footer .lastimg {
	position:relative;
	left:80px;
}
.footer .container {
	border-top:10px solid #404040;
	border-bottom:10px solid #404040;
}
/*
	browseForm.php
*/
.box {
	background-color:#404040;
	text-align:left;
	margin-top:20px;
	padding-bottom:2px;
}
.box h2, .box h3 {
	color:white;
	padding:2px 0 2px 10px;
	margin: 0;
	font-size:18px;
	text-align:left;
}
.box h3 {
	font-size:16px;
}
.box div {
	color: black;
	background-color:#F7F1E4;
	margin: 0 2px;
	padding:0 4px 2px;
}
.box form {
	margin:auto;
}
.option {
	display:inline;
}
.option:hover input, .option:hover label, .option:hover {
	cursor:pointer;
	color:#377BBB !important;
}
.box label {
	text-decoration:underline;
	color:#173D85;
}
/*
	BUTTONS
*/
	.inputbutton {
	height:25px;
	line-height:25px;
	background-color:#377BBB;
	color:white;
	border:none;
	font-size:14px;
	font-weight:bold;
	padding-bottom:3px;
}
.inputbutton:hover {
	background-color:#404040;
	cursor:pointer;
}
.inputbutton.disabled {
	background-color:#A8A8A8;
	color:#F5F5F5;
	cursor:default;
}
/*
	ERRORS
*/

	.error {
	border: solid #404040 10px;
	background-color:lightgrey;
}
.errorMsg {
	color:#BD5B2A;
	font-weight:bold;
	font-size:18px;
	line-height:35px;
	height:35px;
}
/*
	JQUERY EVENTS
*/
	.red {
	background-color:red;
}
.selected {
	cursor:pointer;
	color:#377BBB !important;
}
/*
	BETA STYLES
*/

.betaNote {
	color: #444;
	background-color: #ccc;
	font-weight:bold;
	font-size:14px;
	text-align: center;
}
.betaNote.constant {
	font-size:18px;
	height: auto;
	line-height:25px;
}
.betaNote.one {
	height:18px;
}
.betaNote.two {
	height:32px;
}
.betaNote.three {
	height:46px;
}

/*
OVERRIDE SSEC TEMPLATE STYLE (http://www.ssec.wisc.edu/css/all_pages.php)
*/

body {
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}

#banner {
	//background: #000;
	
	//background-repeat: no-repeat;
	height: auto !important;
}

#title {
	top: auto;
	left: auto;
	position: relative !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#title h1 {
	/*background-image: url(/sparc/images/sdat-title.png);*/
	background: none;
	width: 455px;
	height: 104px;
	margin: 0;
	text-indent: 15px;
	font-size: 80px;
}
#title h1 a {
	color: white !important;
}

#title .logos {
	position: absolute;
	right: 0px;
	bottom: 10px;
	padding-right: 15px;
}
#title .logos img {
	height: 60px;
	margin-left: 20px;
	border: none;
}
#title .logos a {
	text-decoration: none;
}
