Copyright {{"now"|date('Y')}}
<div id="footer">
<div id="bottom_nav" class="navbar">
            <div class="navbar_inner central_column">
                <ul class="inner_padding">
                </ul>
            </div><!--.navbar_inner-->
        </div><!--#bottom_nav-->
        <div class="inner_padding">
            <a href="http://www.wisc.edu/"><img src="http://www.ssec.wisc.edu/images/logo-uw.png" width="89" height="60" alt="UW-Madison" id="uw_madison_logo"></a>
            <div id="address">
                &copy; 2011 Space Science &amp; Engineering Center<br>
                University of Wisconsin -Madison<br>
                1225 W. Dayton Street, Madison, WI 53706, USA
            </div><!--#address-->
            <div id="social_icons"></div>
            <div id="footer_links"></div>
        </div><!--.inner_padding-->
</div>
